/**
 * This CSS file will be inlined by the `createEmail` function when run on the
 * server while explicitally required when running in development mode by
 * Webpack.
 *
 * You should include here the styles that can't be inlined, such as media
 * queries
 */

@media only screen and (max-width: 650px) {

  .title-heading {
    font-size: 18px !important;
    text-align: center !important;
  }

}

